<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Quote - Arnold Quotes</title>
</head>
<body>
  <h1>Add Arnold Quote</h1>
  <form action="/" method="post" id="postForm">
    <p>
      <input type="text" name="quote" placeholder="quote">
    </p>
    <p>
      <input type="text" name="movie" placeholder="movie">
    </p>
    <p>
      <input type="text" name="description" placeholder="description">
    </p>
    <p>
      <button type="submit">Submit</button>
    </p>
  </form>
  <a href="/">Back to quotes</a>
  <script src="/main.js"></script>
</body>
</html>
