<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= quote.quote %> - Arnold Quotes</title>
</head>
<body>
  <h1>Random Arnold quotes</h1>
  <a href="quote/<%= quote.path %>">
    <%= quote.quote %>
  </a>
  <p><a href="/">Back to quotes</a></p>
</body>
</html>
